GOOGLE_TYPE=service_account
GOOGLE_PROJECT_ID=holdings-sync
GOOGLE_PRIVATE_KEY_ID=bbfaae6...
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nAQDfUJOWW8UyixxG...\n-----END PRIVATE KEY-----\n"
GOOGLE_CLIENT_EMAIL=my-google-service-account@holdings-sync.iam.gserviceaccount.com
GOOGLE_CLIENT_ID=1131...
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/my-google-service-account%40holdings-sync.iam.gserviceaccount.com
GOOGLE_UNIVERSE_DOMAIN=googleapis.com
